<a href="#" class="cart" data-toggle="modal" data-target="#myModal" onclick="showMinicart();">
    <span id="cart-total"><i class="fa fa-shopping-cart"></i>Giỏ hàng                                       
        <label id="cart-status">@ViewData["CartCount"]</label>
    </span>
</a>