<footer>
    <section class="content">
        <p class="text_footer">© <a href="/">Michi Mart</a> - All rights reserved | Powered by <a href="http://hoanggiatin.com" target="_blank">HGT</a></p>
        <p id="back-top"><a href="#top"><span></span></a></p>
        <div class="clear"></div>
    </section>
</footer>
