<div id="search">
    <input type="submit" name="button" class="button" value="" onclick="clickSearch();" />
    <input type="text" id="textsearch" name="textsearch" class="text" placeholder="Tìm kiếm sản phẩm" />
</div>
