/* ---------- Grid --------- */
#grid {border: 0;border-top: 1px solid #D8D8D8;}
#grid .table .img_thumb{max-height: 48px;}
#grid .table>tbody>tr>th, #grid .table>tfoot>tr>th, #grid .table>tbody>tr>td {padding: 4px 8px;vertical-align: middle;}
#grid .table .btn{margin: 0 2px;padding: 4px 8px;min-width: 14px;}
#grid .table a:hover{text-decoration:underline}
#grid tr.t-no-data{display:none;}
#grid tr.t-no-data td {color: red;padding: 20px 10px;font-weight: 600;}

/* ---------- Modal popup --------- */
#modal h4 {padding: 10px 0 16px}
#modal .boxConfirm{}

.k-textbox>input, .k-autocomplete .k-input, .k-multiselect-wrap{height:100%}
.k-grid-header .k-header, .k-grid-header .k-header .k-link{color: #1D1D1D;font-weight: 600;text-transform: uppercase;}
.k-dropzone{padding-left: 0;}
.k-upload-files{margin-bottom:10px}