@using HGT.Admin;
@using Kendo.Mvc.UI;

@(Html.Kendo().AutoComplete()
        .Name("search")
        .DataTextField("Title")
        .Filter("contains")
        .MinLength(1)
        .Height(188)
        .Events(e => { e.Change("onSelect"); })
        .Placeholder("Search ...")
        .HtmlAttributes(new { @class = "form-control input-sm pull-right", @style = " width: 150px;" }) //  @class = "nav-search-input" 
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("Filter", "News");//.Data("onAdditionalData");
            })
            .ServerFiltering(true);
        })
        )
<div class="input-group-btn">
    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
</div>

@*<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search">
<div class="input-group-btn">
    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
</div>*@
<script type="text/javascript">
    $('#search').val('');

    function onSelect(e) {
        searchResult();
        return false;
    }
    $('.btn-default').click(function () {
        searchResult();
    });

    $("#search").keypress(function (event) {
        if (event.keyCode == 13 || event.which == 13) {
            searchUsers();
            return false;
        }
    });

    function searchResult() {
        //load gridview
        $('#grid').data('kendoGrid').dataSource.transport.options.read.url = "/admin/news/list/?keyword=" + $("#search").val();
        $('#grid').data('kendoGrid').dataSource.page(1);
    }

</script>
